<form method="post">
    Username: <input type="text" name="username" required><br>
	Password: <input type="password" name="password" required><br>
    <button type="submit" formaction="/login">Login</button>
    <button type="submit" formaction="/register">Register</button>
</form>

<form action="/logout"method="get">
    <button type="submit">logout</button>
</form>